/* CSS declarations go here */
#massageTable {
  margin-top:10px;
  width: 700px;
}

.add-timeslot-container {
  padding-bottom: 10px;
  width: 700px;
  text-align: right;
}

.day-admin-container {
  width: 700px;
  margin: 0 !important;
}

.admin-container {
  margin: 20px;
  padding: 20px;
  border:1px solid red;
  border-radius: 10px;
}

#day-select {
  width: 105px;
  margin-bottom: 0;
}

.admin-container h5 {
  margin-top: 0
}

.remove-booking, .remove-waitlist-name {
  color: red;
}

.editing .masseuse-name-readonly {
  display: none
}

.masseuse-name-editing {
  display: none
}

.editing .masseuse-name-editing {
  display: block
}

.terms-summary {
  margin-left: 17px;
}

.left-column {
  width: 76px;
}

.open-slot {
  background-color: #FFFEDE !important
}

.masseuse-column {
  width: 293px;
}

select.time-selector {
  width: 60px;
}

.error {
  color: red;
}

blockquote p {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: auto;
}

#add-waitlist-name {
  margin-left: 10px;
}

/*.add-day, .book-time-slot {
  margin-bottom: 10px;
}
*/
input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
  height: 14px;
}

input[type="text"] {
  margin-bottom: 0;
}

body {
  margin-left: 10px;
}